<div class="form-title text-center">
  <h2>Ajouter un symptôme</h2>
</div>

<div class="form text-center">
  <%= simple_form_for (@symptom) do |f| %>

    <div class="form-inputs">
      <%= f.label "Jour & Heure de début" %>
      <br>
      <%= f.input :start_date, as: :datetime, html5: true, label: false %>
    </div>

    <div class="form-inputs">
      <%= f.label "Jour & Heure de fin" %>
      <br>
      <%= f.input :end_date, as: :datetime, html5: true, label: false %>
    </div>

    <div class="form-inputs">
      <%= f.label "Symptôme" %>
      <br>
      <%= f.input :name, collection: [ "Altérations du goût", "Anémie", "Ascite", "Bouche sèche ou douleureuse", "Chute des cheveux", "Chute des cils et sourcils", "Constipation", "Cystite", "Défaillance cardiaque", "Déglutition douleureuse", "Dents", "Diarrhée", "Divers", "Douleurs", "Estomac", "Fatigue", "Hémorragies (déficit de plaquettes sanguines)", "Stomatite (inflammation de la muqueuse buccale)", "Intolérance au lactose", "Leucopénie", "Lymphoedème", "Manque d'appétit", "Migraine", "Mucosités", "Nausées", "Nerfs", "Ongles", "Perte de poids non souhaitées", "Prise de poids non souhaitée", "Sexualité", "Stomies", "Syndrome main-pied", "Thrombose veineuse profonde", "Vessie", "Vomissement" ], input_html: { class: 'soflow' }, label: false %>
    </div>

  <!--   <div class="form-inputs">
      <%= f.label "Intensité" %>
      <br>
      <%= f.input :intensity, collection: (1..10).to_a, label: false%>
    </div> -->

    <div class="form-inputs slidecontainer">
        <%= f.label "Intensité" %>
        <%= f.input :intensity, input_html: {type: "range", min: "1", max: "10", class: "slider", id: "intensityRange"}, label: false %>
      <p style="color: $gray;"><span id="intensityDemo"></span></p>
    </div>

    <div class="form-inputs">
      <%= f.label "Notes" %>
      <br>
      <%= f.input :description, label: false %>
    </div>

    <div class="form-actions">
      <br>
    <%= f.submit "Ajouter le symptôme", class: "submit-button" %>
    </div>
  <% end %>
</div>
