<h2>Ajouter un symptôme</h2>

<%= simple_form_for (@symptom) do |f| %>
    <%= f.input :start_date, as: :datetime, html5: true %>
    <%= f.input :end_date, as: :datetime, html5: true %>
    <%= f.input :name %>
    <%= f.input :intensity, collection: (1..10).to_a%>
    <%= f.input :description %>

    <%= f.submit "Ajouter le symptôme", class: "form-actions submit-button" %>
<% end %>

