<div class="title-show">
  <h3 class="text-center">Symptômes</h3>
  <h1 class="text-center category-show"><%= @symptom.name.upcase %></h1>
</div>

<div class="show-icon text-center">
  <%= image_tag ("symptoms-icon.png"), class: "list-icon" %>
</div>

<div class="separation-box text-center">
  <p>Date de l'évènement:</p>
  <h4><%= @symptom.start_date.to_s(:long) %></h4>
  <br>
  <p>Intensité:</p>
  <h4><%= @symptom.intensity %></h4>
  <br>
  <p>Description:</p>
  <h6>
    <% if @symptom.description == "" %>
      "Pas de description"
    <% else %>
      <%= @symptom.description %>
    <% end %>
  </h6>
</div>

<div class="edit-delete-box text-center">
  <%= link_to edit_symptom_path(@symptom) do  %>
    <%= image_tag ("edit.png"), class: "small-icon" %>
  <% end %>
  <%= link_to symptom_path(@symptom), method: :delete, data: {confirm: "Are you sure?"} do  %>
    <%= image_tag ("delete.png"), class: "small-icon" %>
  <% end %>
</div>
