<h1><%= Date.today.to_s(:long) %></h1>


<h2>Consultations et traitements du jour</h2>
<div class="section-box list-box">
  <div class="row">
    <div id="medical-records list-box">
      <% @events_grouped.each do |mr| %>
        <hr>
        <% if mr.is_a?(Appointment) %>
          <%= link_to(appointment_path(mr), class: "link") do %>
            <%= render 'shared/icons', object: mr %>
            <%= mr.category%> <%= mr.sorting_date.strftime("%I:%M%p")%> <%= mr.end_date.strftime("%I:%M%p")%>
            <%= raise %>
          <% end %>
        <% else %>

        <% end %>
      <% end %>
      <%# @treatments.each do |mr| %>

        <%#= link_to(medical_record_path(mr), class: "link") do %>
          <%#= image_tag ("treatment-icon.png"), class: "list-icon" %>
          <%#= mr.drug.name%> <%#= mr.take_time.strftime("%I:%M%p")%>
        <%# end %>
      <%# end %>
    </div>
  </div>
</div>






