<div class="title-box">
  <h1>Aujourd'hui,</h1>
  <h2><%= l Date.today %></h2>
</div>



<div class="today-box">
  <h3>Consultations & Traitements</h3>
  <div class="section-box list-box">
    <div class="row">
      <div id="list-box">
        <% @events_grouped.each do |mr| %>
          <hr>
          <div class="today-task-row">
            <% if mr.is_a?(Appointment) %>
              <%= link_to(appointment_path(mr), class: "link") do %>
                <%= render 'shared/icons', object: mr %>
                  <strong><%= l mr.sorting_date%> - <%= l mr.end_date%></strong> | <em><%= mr.category%></em>
              <% end %>
            <% else %>
              <%= link_to(treatment_path(mr), class: "link") do %>
                <%= image_tag ("treatment-icon.png"), class: "list-icon" %>
                <strong><%= l mr.take_time %></strong> | <em><%= mr.drug.name.split.first.chomp(",")%></em>
              <% end %>
                <% if mr.taken %>
                   <i class="far fa-check-circle checkbox"></i>
                <% else %>
                  <div id="checkbox-container" class="anim-checkbox">
                    <%= link_to "J'ai pris", treatment_path(mr), class: "submit-button", id: "taken-button", method: :patch, remote: true %>
                  </div>
                <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



