<div class="form-title text-center">
  <h2><%= t(".title", resource: resource_name.to_s.humanize) %></h2>
</div>

<div class="form text-center">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <%= f.label "Prénom" %>
      <%= f.input :first_name, label: false %>

      <%= f.label "Nom" %>
      <%= f.input :last_name, label: false %>

      <%= f.label "Code postal" %>
      <%= f.input :zipcode, label: false %>

      <%= f.label "Date de naissance" %>
      <%= f.date_field :birthday, label: false %>

      <%= f.label "Sexe" %>
      <%= f.input :sex, collection: ["F", "H", "Autre"], input_html: { class: 'soflow' }, label: false %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: t(".leave_blank_if_you_don_t_want_to_change_it"), required: false %>
      <%= f.input :password_confirmation, required: false %>
      <%= f.input :current_password, hint: t(".we_need_your_current_password_to_confirm_your_changes"), required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t(".update"), class: "submit-button" %>
    </div>
  <% end %>

  <hr>

  <div class="form text-center">

    <div class="form-links">
      <p><%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

      <%= link_to t("devise.shared.links.back"), :back %>

    </div>

  </div>

</div>
