<div class="form-title text-center">
  <h2>Créer une nouvelle ordonnance</h2>
</div>

<div class="text-center form">
  <%= form_tag medical_professional_prescriptions_path, multipart: true do %>
  <%#= select_tag  %>

  <div class="form-inputs">
    <%= label_tag 'Médicament' %>
    <br>
    <input name="drug_name" type="text" required class="search-input form-control" placeholder="Trouver un médicament" />
  </div>

  <div class="form-inputs">
    <%= label_tag 'Date de début' %>
    <br>
    <%= date_field(:prescription, :start_date, { class: 'datepicker form-control soflow form-height' }) %>
  </div>

  <div class="form-inputs">
    <%= label_tag 'Date de fin' %>
    <br>
    <%= date_field(:prescription, :end_date, { class: 'datepicker form-control soflow form-height' }) %>
  </div>

  <div class="form-inputs form-photo">
    <%= label_tag "Ajouter les pièces jointes" %>
    <br>
    <%= file_field_tag "photo[url][]", multiple: true %>
  </div>

  <div class="inline-form">
    <div class="form-inputs">
      <%= label_tag 'Heure de prise' %>
      <br>
      <%= time_field_tag "doses[1][take_time]", '12:00', class: 'form-control datepicker-time soflow form-height' %>
    </div>

    <div class="form-inputs">
      <%= label_tag 'Quantité' %>
      <br>
      <%= text_field_tag "doses[1][quantity]", '',  class: 'form-control' %>
    </div>
  </div>

  <%= link_to adddose_path, remote: true, id: "add-dose", class: "legend", data: {idx: 1} do %>
    <i class="fas fa-plus"></i> Ajouter une dose
  <% end %>

  <div class="form-actions">
  <%= submit_tag "Valider", class: "submit-button" %>
  </div>
  <% end %>
</div>
