<div class="form-title text-center">
  <h2>Créer une nouvelle ordonnance</h2>
</div>

<%#= simple_form_for [@medical_professional, @prescription] do |f| %>
  <!-- Needs a space for this nesting to work-->
  <%#= f.label "Date du début" %>
  <%#= f.input_field :start_date, as: :date, html5: true %>
  <!-- Need to say that it is a date -->
  <%#= f.label "Date de fin" %>
  <%#= f.input_field :end_date, as: :date, html5: true %>
  <%#= f.submit "Valider", class: "submit-button" %>
<%# end %>

<div class="text-center form">
  <%= form_tag medical_professional_prescriptions_path do %>
  <%#= select_tag  %>

  <div class="form-inputs">
    <%= label_tag 'Médicament' %>
    <br>
    <input name="drug_name" type="text" id="search-input" class="soflow" placeholder="Trouver un médicament" />
  </div>

  <div class="form-inputs">
    <%= label_tag 'Date de début' %>
    <br>
    <%= date_field(:prescription, :start_date) %>
  </div>

  <div class="form-inputs">
    <%= label_tag 'Date de fin' %>
    <br>
    <%= date_field(:prescription, :end_date) %>
  </div>

  <div class="form-inputs form-photo">
    <%= label_tag "Ajouter les pièces jointes" %>
    <br>
    <%= file_field :url, multiple: true %>
  </div>

  <div id="dose">
    <%= render partial: "shared/form_doses", locals: {i: 1} %>
  </div>

  <div class="form-actions">
    <%= submit_tag "Valider", class: "submit-button" %>
  </div>

  <% end %>

  <hr>

  <%= simple_form_for [@medical_professional,@prescription] do |f| %>
    <%#= f.association :drug, input_html: {id: "search-input", class: "soflow", placeholder: "Trouver un médicament"} %>
    <%= f.simple_fields_for :treatments do |t| %>
      <%= t.association :drug %>
      <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
      <div class="inline-form">
        <%= t.input :take_time, as: :string, input_html: {class: "datepicker-time"} %>
        <%= t.input :quantity %>
      </div>
    <% end %>
    <div id="AddButton" data-index = "1">
      <i class="fas fa-plus"></i> Ajouter une dose
    </div>

    <%= f.simple_fields_for :treatments do |t| %>
      <%= t.association :drug %>
      <%= t.input :take_time, as: :string, input_html: {class: "datepicker-time"} %>
      <%= t.input :quantity %>
    <% end %>
    <%= f.submit class: 'submit-button' %>
  <% end %>

</div>
