<div class="title-box">
  <h1>Mon historique médical</h1>
</div>

<div class="box">
  <%= form_tag medical_records_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Chercher un évènement médical"
    %>
  <% end %>
</div>

<div class="section-box">
  <div class="row">
    <div id="medical-records list-box">
      <% @medical_records.each do |mr| %>
        <hr>
        <%= link_to(medical_record_path(mr), class: "link") do %>
          <%= render 'shared/icons', object: mr %> <strong><%= l mr.record_date, format: :long %></strong> | <em><%= mr.title.capitalize %></em>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



