<%= form_tag medical_records_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control searchbar",
    placeholder: "Search bar"
  %>
<% end %>

<div class="section-box">
  <h1>Mes derniers ajouts</h1>
  <div class="list-box">
    <% @medical_records.each do |mrl| %>
      <br> <%= render 'shared/icons', object: mrl %><%= mrl.title %> - <%= mrl.category %>
    <% end %>
  </div>
</div>
