<h1>Mes ajouts</h1>

<div class="section-box">
  <%= form_tag medical_records_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control searchbar",
      placeholder: "Search bar"
    %>
  <% end %>
</div>


<div class="list-box">
  <% @medical_records.reverse.each do |mr| %>
    <hr>
    <div class="list-item">
      <%= link_to(medical_record_path(mr), class: "link") do %>
        <%= render 'shared/icons', object: mr %> <%= mr.record_date %> | <%= mr.title.capitalize %>
      <% end %>
    </div>
  <% end %>
</div>

