<div class="form-title text-center">
  <h2>Ajouter un fichier</h2>
</div>

<div class="text-center form">
  <%= form_for(@medical_record) do |f| %>

    <div class="form-inputs">
      <%= f.label "Date du document" %>
      <br>
      <%= f.date_field :record_date %>
    </div>

    <div class="form-inputs">
      <%= f.label "Titre du document" %>
      <br>
      <%= f.text_field :title %>
    </div>

    <div class="form-inputs">
      <%= f.label "Type de document" %>
      <br>
      <%= f.select :category, options_for_select(["Consultation Médicale", "Opération", "Vaccin", "Maladie Infantile", "Antécédent Familial", "Prise de Sang", "Autre"]) %>
    </div>

    <div class="form-inputs">
      <%= f.label "Notes" %>
      <br>
      <%= f.text_field :description %>
    </div>

    <div class="form-inputs form-photo">
      <%= f.label "Ajouter les pièces jointes" %>
      <br>
      <%= f.file_field :url, multiple: true %>
    </div>

    <div class="form-actions">
      <%= f.submit "Ajouter le fichier", class: "submit-button" %>
    </div>
  <% end %>

</div>
