<%= f.simple_fields_for :treatments do |t| %>
  <%= t.input :drug, label: 'Médicament', input_html: { class: "search-input soflow", placeholder: "Trouver un médicament"} %>
  <%= f.input :start_date, label: 'Date de début', as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :end_date, label: 'Date de fin', as: :string, input_html: {class: "datepicker"} %>
  <div class="inline-form">
    <%= t.input :take_time, label: 'Heure de prise', as: :string, input_html: {class: "datepicker-time"} %>
    <%= t.input :quantity, label: 'Quantité' %>
  </div>
<% end %>
<div id="add-dose-0" class="legend">
  <i class="fas fa-plus"></i> Ajouter une dose
</div>
<hr>
