<div class="navbar-kbuddy">
  <%= link_to image_tag("medical-record-icon", class: "navbar-icons"), root_path %>
  <%= link_to image_tag("treatment-icon", class: "navbar-icons"), root_path %>
  <!-- Add dropdown menu on the plus button -->
  <%= link_to image_tag("plus", id: "navbar-plus-icon"), root_path %>
  <%= link_to image_tag("symptoms-icon", class: "navbar-icons"), root_path %>
  <%= link_to image_tag("recommendation-icon", class: "navbar-icons"), root_path %>
</div>

