<div class="navbar-kbuddy">
  <%= link_to image_tag("medical-record-icon.png", class: "navbar-icons"), root_path %>
  <%= link_to image_tag("treatment-icon.png", class: "navbar-icons"), root_path %>
  <!-- Add dropdown menu on the plus button -->
  <%= link_to image_tag("plus.png", id: "navbar-plus-icon"), root_path %>
  <%= link_to image_tag("symptoms-icon.png", class: "navbar-icons"), root_path %>
  <%= link_to image_tag("recommendation-icon.png", class: "navbar-icons"), root_path %>
</div>

