<div id="mySidenav" class="sidenav">
  <a href="#" class="closebtn">&times;</a>
  <% if user_signed_in? %>
    <%= link_to profile_path(current_user) do %>
      <i class="fas fa-user"></i> Mon profil
    <% end %>
    <%= link_to wellbeings_path do %>
      <i class="fas fa-heart"></i> Blog de bien-être
    <% end %>
    <%= link_to medical_professionals_path do %>
      <i class="fas fa-user-md"></i> Mes agents médicaux
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    <% end %>
  <% end %>
</div>


<!-- Use any element to open the sidenav -->
<span id="opensidenav"><%= image_tag("logo.png", id: "logo", class: "back-to-home") %> </span>


