<div class="title-show text-center">
  <h3>Consultation</h3>
  <div class="category-show">
    <h1><%= @appointment.category.upcase %></h1>
  </div>
  <div class="subtitle-show">
    <h6><%= @appointment.medical_professional.location_name %> / Dr. <%= @appointment.medical_professional.doctor %></h6>
  </div>
</div>

<div class="text-center">
  <%= render 'shared/icons', object: @appointment %>
</div>

<div class="separation-box text-center">
  <p>Début de la consultation:</p>
  <h4><%= l @appointment.start_date, format: :short %></h4>
  <br>
  <p>Fin de la consultation:</p>
  <h4><%= l @appointment.end_date, format: :short %></h4>
  <br>
  <p>Notes:</p>
    <% if @appointment.description == "" %>
      <h6>Pas de description</h6>

    <% else %>
      <h6><%= @appointment.description %></h6>
    <% end %>
</div>

<div class="photo-box text-center">
  <% if @appointment.photos.empty? %>
    <h6>Pas de pièces jointes.</h6>
  <% else %>
    <% @appointment.photos.each do |p| %>
      <div class="picture-box">
        <a href="#" class="pop">
          <%= cl_image_tag p.url, width: 150 %>
        </a>
        <%= link_to photo_path(p), method: :delete, data: {confirm: "Etes-vous sûr de bien vouloir effacer cette photo ?"} do %>
          <%= image_tag "delete.png", class: "small-icon delete-photo" %>
        <% end %>
      </div>
    <% end %>

  <% end %>

  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <img src="" class="imagepreview" style="width: 100%;" >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="edit-delete-box text-center">
  <%= link_to edit_appointment_path(@appointment) do  %>
    <%= image_tag ("edit.png"), class: "small-icon" %>
  <% end %>
  <%= link_to appointment_path(@appointment), method: :delete, data: {confirm: "Etes-vous certain de vouloir supprimer ce rendez-vous ?"} do  %>
    <%= image_tag ("delete.png"), class: "small-icon" %>
  <% end %>
</div>

